<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Techiest blog of all</title>
</head>

<body>
  <nav class="bg-info">
    {{#if logged_in}}
    <a href="/profile" class="text-white">Profile</a> |
    <button class="no-button" id="logout" class="text-white">Logout</button>
    <script src="./js/logout.js"></script>
    {{else}}
    <a href="/login" class="text-white">Login</a>
    {{/if}}

    <a href="/" class="text-white">Home</a>
  </nav>
  {{{body}}}
</body>

</html>