<form class="form post-form">
  <div class="form-group">
    <label for="post-title">Title</label>
    <input class="form-input" type="text" id="post-title">
  </div>
  <div class="form-group">
    <label for="post-content">Your thoughts...</label>
    <input class="form-input" type="text" id="post-content">
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Submit Post</button>
  </div>
</form>

<script src="./js/post.js"></script>